@import "../../assets/scss/_variable.scss";
@import "../../assets/scss/_mixin.scss";
.benefit {
    margin-bottom: 120px;
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
  }
  &__item {
    display: flex;
    gap: 30px 20px;
  }
  &__icon {
    font-size: 1.625rem; //26px;
    color: $color-primary;
  }
  &__title {
    @include text(1.125rem, 700);
    margin-bottom: 8px;
  }
  &__description {
    @include text(1rem, 400);
    color: $color-dark-light;
  }
}
