@import "../../assets/scss/variable";
@import "../../assets/scss/_mixin.scss";
.about {
  &__featured {
    padding-top: 100px;
    padding-bottom: 120px;
    &__container {
      @include flex(space-between, center);
      gap: 40px;
    }
    &__item {
      position: relative;
      width: 50%;
      height: 600px;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__btn {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__btn:hover {
      background-color: $color-primary;
      color: $color-light;
    }
  }
}
@media only screen and(max-width: 46.188rem) {
  .about {
    margin-bottom: 120px;
    &__featured {
      &__container {
        @include flex(center, center);
        gap: 40px;
        flex-direction: column;
      }
      &__item {
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }
}
@media only screen and(min-width:46.25rem ) and(max-width: 63.938rem) {
  .about {
    margin-bottom: 120px;
    &__featured {
      &__item {
        height: 450px;
      }
    }
  }
}
