@import "../../assets/scss/_variable.scss";
@import "../../assets/scss/_mixin.scss";
.hero {
  position: relative;
  height: 448px;
  margin-bottom: 120px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    @include text(3rem, 400);
    color: $color-light;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
