.active{
  color: $color-primary;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 100%;
}
.flex {
  display: flex;
}
.gap-20 {
  gap: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.btn {
  display: inline-block;
  padding: 1.125rem 2.25rem; //18px; //36px;
  text-transform: uppercase;
  color: $color-light;
  text-align: center;cursor: pointer;
}
.btn-small {
  padding: 14px 36px !important;
}
.btn-outline {
  border: 5px solid $color-light;
}
.btn-white {
  background-color: $color-light;
  color: $color-primary;
}
.btn-blue {
  background-color: $color-primary;
  color: $color-light;
}
.btn-radius {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.04);
  border-radius: 1.625rem; //26px   ;
}
.btn-secondary{
  background-color: #D6763C;
  color: $color-light;
}
.Obligatory{
  color: red;
}
@media only screen and(max-width: 46.188rem) {
  .btn {
    padding: 1rem 1.25rem; //20px; //16px;
  }
  .btn-outline {
    border: 2px solid $color-light;
  }
}
