<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post" enctype="multipart/form-data">
        <input type="file" name="thumnail">
        <input type="text" name="name" placeholder="name" >
        <input type="text" name="listing" placeholder="listing">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="desc_Sm" placeholder="desc_Sm">
        <input type="text" name="desc_Lg" placeholder="desc_Lg">
        <input type="file" name="image" multiple >
        <input type="submit" name="" id="">
    </form>
</body>
</html>