@import "../../assets/scss/_variable.scss";
@import "../../assets/scss/_mixin.scss";

.infoProduct {
  padding-bottom: 120px;
  &__container {
    @include flex(space-between, flex-start);
    gap: 48px;
  }
  &__image {
    width: 40%;
  }
  &__content {
    width: 60%;
  }
  &__name {
    @include text(2.25rem, 700);
    margin-bottom: 25px;
  }
  &__listing {
    @include text(1.5rem, 400);
    text-decoration: line-through;
    color: #818181;
  }
  &__sale {
    @include text(1.5rem, 400);
    color: $color-primary;
  }
  &__desc {
    color: $color-dark-light;
    @include text(1rem, 400);
    margin-bottom: 30px;
  }
  &__size {
    display: block;
    width: 210px;
    outline: none;
    padding: 15px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    margin-bottom: 35px;
    & option {
      display: block;
      padding: 15px;
      background: #fbfbfb;
      border-bottom: 1px solid #ebebeb;
    }
  }
  &__btn {
    margin-bottom: 35px;
  }
}
@media only screen and(max-width: 46.188rem) {
  .infoProduct {
    padding-bottom: 85px;
    &__container {
      gap: 48px;
      flex-direction: column;
    }
    &__image {
      width: 100%;
    }
    &__content {
      width: 100%;
    }
  }
}
